## Archivos y carpetas generados por la compilaciA3n
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

## Archivos de paquetes
# Si estA¡s usando NuGet, ignora las carpetas de paquetes
packages/

## Archivos de configuraciA3n local
*.rsuser
*.vspscc

## Carpetas de configuraciA3n de Visual Studio
.vs/
.vscode/

## Archivos de configuraciA3n de bases de datos (si aplica)
*.mdf
*.ldf

## Archivos temporales
*.tmp
*.bak
*.swp
*~.nib

## Otros archivos y carpetas
*.log
*.scc

## Archivos de configuraciA3n de herramientas externas
_ReSharper*/
*resharper
*.tss